 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Jobs</a></li>
    <li class="breadcrumb-item active" aria-current="page">List</li>
  </ol>
</nav>
   
      <div class="container-fluid">
         <div class="row">
            <%= render 'layouts/leftsidebar'%>
            <div class="col-7">
                           
                                <p>Your CV is the tool that helps you get your foot in the door when applying for jobs. Find out how to write a good CV and get tips and advice on what to include in your own personal marketing document</p>
                                 <h2 id="what-is-a-cv">What is a CV?</h2>
                                 <p>A CV, which stands for curriculum vitae, is a document used when applying for jobs. It allows you to summarise your education, skills and experience enabling you to successfully sell your abilities to potential employers. Alongside your CV employers also usually ask for a cover letter.</p>
                                 <p>In the USA and Canada CVs are known as résumés. These documents tend to be more concise and follow no particular formatting rules.</p>
                                 <h2 id="how-long-should-a-cv-be">How long should a CV be?</h2>
                                 <p>A standard CV in the UK should be no longer than two sides of A4. Take a look at our example of a chronological CV&nbsp;for inspiration.</p>
                                 <p>That said one size doesn't fit all. For example, a school leaver or recent graduate with minimal experience may only need to use one side of A4. Although not used as often, a three-page CV might be needed for those in high-level roles or for people who have gained a lot of experience or worked in multiple jobs over the last five to ten years. For example, some medical or academic CVs&nbsp;may be longer depending on your experience. While it's important to keep your CV concise you should also avoid selling your experience short. </p>
                                 <p>To save space only include the main points of your education and experience. Stick to relevant information and don't repeat what you've said in your cover letter. If you're struggling to edit your CV ask yourself if certain information sells you. If it doesn't cut it out. If it's not relevant to the job you're applying for delete it and if it's old detail from ten years ago summarise it.</p>
                                 <h2 id="what-to-include-in-a-cv">What to include in a CV</h2>
                                 <ul>
                                    <li><strong>Contact details</strong>&nbsp;- Include your full name, home address, mobile number and email address. Your date of birth is irrelevant and unless you're applying for an acting or modelling job you don't need to include a photograph.</li>
                                    <li><strong>Profile</strong>&nbsp;- A CV profile is a concise statement that highlights your key attributes and helps you stand out from the crowd. Usually placed at the beginning of a CV it picks out a few relevant achievements and skills, while expressing your career aims. A good CV profile focuses on the sector you're applying to, as your cover letter will be job-specific. Keep CV personal statements short and snappy - 100 words is the perfect length. Discover how to write a personal statement for your CV.</li>
                                    <li><strong>Education</strong>&nbsp;- List and date all previous education, including professional qualifications. Place the most recent first. Include qualification type/grades, and the dates. Mention specific modules only where relevant.</li>
                                    <li><strong>Work experience</strong>&nbsp;- List your work experience&nbsp;in reverse date order, making sure that anything you mention is relevant to the job you're applying for. Include your job title, the name of the company, how long you were with the organisation and key responsibilities. If you have plenty of relevant work experience, this section should come before education.</li>
                                    <li><strong>Skills and achievements</strong>&nbsp;- This is where you talk about the foreign languages you speak and the IT packages you can competently use. The key skills that you list should be relevant to the job. Don't exaggerate your abilities, as you'll need to back up your claims at interview. If you've got lots of job-specific skills you should do a skills-based CV.
                                    </li>
                                    <li><strong>Interests</strong>&nbsp;- 'Socialising', 'going to the cinema' and 'reading' aren't going to catch a recruiters attention. However, relevant interests can provide a more complete picture of who you are, as well as giving you something to talk about at interview. Examples include writing your own blog or community newsletters if you want to be a journalist, being part of a drama group if you're looking to get into sales and your involvement in climate change activism if you'd like an environmental job. If you don't have any relevant hobbies or interests leave this section out.</li>
                                    <li><strong>References</strong>&nbsp;- You don't need to provide the names of referees at this stage. You can say 'references available upon request' but most employers would assume this to be the case so if you're stuck for space you can leave this out.</li>
                                 </ul>
                                   
                                 <h2 id="cv-format">CV format</h2>
                                 <ul>
                                    <li><strong>Avoid titling the document 'curriculum vitae' or 'CV</strong>'. It's a waste of space. Instead let your name serve as the title.</li>
                                    <li><strong>Section headings are a good way to break up your CV</strong>. Ensure they stand out by making them larger (font size 14 or 16) and bold.</li>
                                    <li><strong>Avoid fonts such as Comic Sans</strong>. Choose something professional, clear and easy to read such Arial, Calibri or Times New Roman. Use a font size between 10 and 12 to make sure that potential employers can read your CV. Ensure all fonts and font sizes are consistent throughout.</li>
                                    <li><strong>List everything in reverse chronological order</strong>. Then the recruiter sees your work history and most recent achievements first.</li>
                                    <li><strong>Keep it concise by using clear spacing and bullet points</strong>. This type of CV layout allows potential employers to skim your CV and quickly pick out important information first.</li>
                                    <li><strong>Name the document when saving</strong> - Don't just save as 'Document 1'. Make sure the title of the document is professional and identifies you, such as 'Joe-Smith-CV'.</li>
                                    <li><strong>Unless the job advert states differently (for example, it may ask you to provide your CV and cover letter as a Word document) save with a .PDF file extension to make sure it can be opened and read on any machine. </strong></li>
                                    <li><strong>If you're posting your CV, print it on white A4 paper</strong> - Only print on one side and don't fold your CV - you don't want it to arrive creased.</li>
                                 </ul>
                                 <h2 id="how-to-write-a-good-cv">How to write a good CV</h2>
                                 <ul>
                                    <li><strong>Use active verbs when possible</strong>. For example, include words like 'created', 'analysed' and 'devised' to present yourself as a person who shows initiative.</li>
                                    <li><strong>A good CV doesn't have any spelling or grammar mistakes</strong>. Use a spell checker and enlist a second pair of eyes to check over the document.</li>
                                    <li><strong>Avoid generic, over-used phrases</strong> such as 'team player', 'hardworking' and 'multitasker'. Instead, provide real-life examples that demonstrate all of these skills.</li>
                                    <li><strong>Tailor your CV</strong>. Look at the company's website and social media accounts, look to see if they've recently been mentioned in the local press and use the job advert to make sure your CV is targeted to the role and employer.</li>
                                    <li><strong>Create the right type of CV for your circumstances</strong>. Decide whether the chronological, skills-based or academic CV is right for you.</li>
                                    <li><strong>Make sure your email address sounds professional</strong>. If your personal address is inappropriate create a new account for professional use.</li>
                                    <li><strong>Don't lie or exaggerate on your CV or job application</strong>. Not only will you demonstrate your dishonesty to a potential employer, but there can be serious consequences too. For example, altering your degree grade from a 2:2 to a 2:1 is classed as degree fraud and can result in a prison sentence. Take a look at this advice and guidance on degree fraud for students.</li>
                                    <li><strong>If posting your CV online don't include your home address</strong>, as you could be targeted by fraudsters.</li>
                                    <li><strong>Always include a cover letter unless the employer states otherwise</strong>. It will enable you to personalise your application. You can draw attention to a particular part of your CV, disclose a disability or clarify gaps in your work history.</li>
                                 </ul>
                                 <h2 id="how-to-fill-the-gap-left-by-the-covid19-pandemic">How to fill the gap left by the COVID-19 pandemic</h2>
                                 <p>The first thing to know is that COVID-19 has disrupted the career plans of thousands of students and you're not alone. As a result of the pandemic career-boosting activities such as work experience, internships and volunteering have been postponed or cancelled. If this has left you worrying about the corona-shaped gap on your CV let us put your mind at rest.</p>
                                 <p>Employers understand the challenges caused by lockdowns only too well and they won't expect you to have completed a period of work experience in this time. That said you could still demonstrate to potential employers how you used this time wisely - showing yourself to be a proactive, dedicated and resilient candidate.</p>
                                 <p>You could mention:</p>
                                 <ul>
                                    <li>details of online courses or Massive Open Online Courses (MOOCs) you've undertaken or webinars or online events you've attended</li>
                                    <li>the acquisition of new skills, such as learning a language or learning to code</li>
                                    <li>volunteering work such as checking in on and shopping for vulnerable neighbours or caring for young siblings or elderly relatives</li>
                                    <li>charity work - perhaps you got involved with fundraising or raising awareness of a particular ogranisation.</li>
                                    <li>new hobbies such as starting to vlog, picking up a sport, learning to cook or setting up a community book club.</li>
                                 </ul>
                                 <p>Remember - you'll need to relate these to the job you're applying for so focus on the skills these activities taught you and how/why they'd be useful.</p>
                                 <p>Where to put this information depends on the activities. Volunteering or charity work can be included under the 'Work experience' heading. The online courses and additional qualifications you've gained can go in the 'Education' section while any new skills you've learned need to be housed under 'Skills and achievements'. If any new hobbies are relevant to the role you're applying for place these in the 'Hobbies and interests' section.</p>
                                 <p>Read our example cover letter explaining a gap in your CV.</p>
                                 <h2 id="get-help-with-your-cv">Get help with your CV</h2>
                                 <p>If you're a student or recent graduate and you'd like help creating a CV then you can get professional advice from your university careers service.</p>
                                 <p>During COVID-19 many university careers services have&nbsp;moved their programme of activities and events online to support students and graduates during the pandemic.</p>

                                    </div>
                                 </aside>


            <%= render 'layouts/rightsidebar'%>


            </div>
         </div>
      </div>