<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Full Jobs list', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Interview Tips</li>
  </ol>
</nav>
   
      <div class="container-fluid">
         <div class="row">
            <%= render 'layouts/leftsidebar'%>
            <div class="col-7">
                  <h2 class="m-0 listingInfoHeader">Tips for before the interview</h2>
                        <p>In the days before your job interview, set aside time to do the following:</p>

                        <p><b>1. Start by researching the company and your interviewers.</b> Understanding key information about the company you’re interviewing with can help you go into your interview with confidence. Using the company’s website, social media posts and recent press releases will provide a solid understanding of the company’s goals and how your background makes you a great fit.</p>

                        <p><b>2. Practice your answers to common interview questions.</b> Prepare your answer to the common question: “Tell me about yourself, and why are you interested in this role with our company?” The idea is to quickly communicate who you are and what value you will bring to the company and the role—it’s your personal elevator pitch. </p>


                        <p><b>3. Reread the job description.</b> You may want to print it out and begin underlining specific skills the employer is looking for. Think about examples from your past and current work that align with these requirements.</p>

                        <p><b>4. Use the STAR method in answering questions.</b> Prepare to be asked about times in the past when you used a specific skill and use the STAR method to tell stories with a clear Situation, Task, Action and Result.</p>

                        <p><b>5. Recruit a friend to practice answering questions.</b> Actually practicing your answers out loud is an incredibly effective way to prepare. Say them to yourself or ask a friend to help run through questions and answers. You’ll find you gain confidence as you get used to saying the words.</p>

                        <p><b>6. Prepare a list of references.</b> Your interviewers might require you to submit a list of references before or after your interview. Having a reference list prepared ahead of time can help you quickly complete this step to move forward in the hiring process.</p>

                        <p><b>7. Be prepared with examples of your work.</b> During the interview, you will likely be asked about specific work you’ve completed in relation to the position. After reviewing the job description, think of work you’ve done in past jobs, clubs or volunteer positions that show you have experience and success doing the work they require.</p>

                        <p><b>8. Prepare smart questions for your interviewers.</b> Interviews are a two-way street. Employers expect you to ask questions: they want to know that you’re thinking seriously about what it would be like to work there. Here are some questions you may want to consider asking your interviewers:</p>
                        <ul>
                        <li>Can you explain some of the day-to-day responsibilities this job entails?</li>
                        <li>How would you describe the characteristics of someone who would succeed in this role?</li>
                        <li>If I were in this position, how would my performance be measured? How often?</li>
                        <li>What departments does this teamwork with regularly?</li>
                        <li>How do these departments typically collaborate?</li>
                        <li>What does that process look like?</li>
                        <li>What are the challenges you’re currently facing in your role?</li>
                        </ul>

                        <h2 class="m-0 listingInfoHeader">Tips for during the interview</h2>
                        <p>After you’ve spent time preparing, you can be successful on interview day by practicing these tips:</p>

                        <p><b>9. Plan your interview attire the night before.</b> If you’re speaking to a recruiter before the interview, you can ask them about the dress code in the workplace and choose your outfit accordingly. </p>

                        <p><b>10. Bring copies of your resume, a notebook and pen.</b> Take at least five copies of your printed resume on clean paper in case of multiple interviewers. Highlight specific accomplishments on your copy that you can easily refer to and discuss. Bring a pen and a small notebook. Prepare to take notes, but not on your smartphone or another electronic device. Write information down so that you can refer to these details in your follow-up thank-you notes. Maintain eye contact as much as possible.</p>

                        <p><b>11. Plan your schedule so that you can arrive 10–15 minutes early.</b> Map out your route to the interview location so you can be sure to arrive on time. Consider doing a practice run. If you’re taking public transportation, identify a backup plan if there are delays or closures.</p>

                        <p><b>Tip:</b> When you arrive early, use the extra minutes to observe workplace dynamics.</p>

                        <p><b>12. Make a great first impression.</b> Don’t forget the little things—shine your shoes, make sure your nails are clean and tidy, and check your clothes for holes, stains, pet hair and loose threads. Display confident body language and a smile throughout.</p>

                        <p><b>13. Treat everyone you encounter with respect.</b> This includes people on the road and in the parking lot, security personnel and front desk staff. Treat everyone you don’t know as though they’re the hiring manager. Even if they aren’t, your potential employer might ask for their feedback.</p>

                        <p><b>14. Practice good manners and body language.</b> Practice confident, accessible body language from the moment you enter the building. Sit or stand tall with your shoulders back. Before the interview, take a deep breath and exhale slowly to manage feelings of anxiety and encourage self-confidence. The interviewer should extend their hand first to initiate a handshake. Stand, look the person in the eye and smile. A good handshake should be firm but not crush the other person’s fingers.</p>

                        <p><b>15. Win them over with your authenticity and positivity.</b> Being genuine during interview conversations can help employers easily relate to you. Showing positivity with a smile and upbeat body language can help keep the interview light and constructive.</p>

                        <p><b>16. Respond truthfully to the questions asked.</b> While it can seem tempting to embellish on your skills and accomplishments, interviewers find honesty refreshing and respectable. Focus on your key strengths and why your background makes you uniquely qualified for the position.</p>

                        <p><b>17. Tie your answers back to your skills and accomplishments.</b> With any question you answer, it is important that you tie your background to the job by providing examples of solutions and results you’ve achieved. Use every opportunity to address the requirements listed in the job description.</p>

                        <p><b>18. Keep your answers concise and focused.</b> Your time with each interviewer is limited so be mindful of rambling. Practicing your answers beforehand can help keep you focused.</p>

                        <p><b>19. Do not speak negatively about your previous employers.</b> Companies want to hire problem solvers who overcome tough situations. If you’re feeling discouraged about your current job, focus on talking about what you’ve gained from that experience and what you want to do next.</p>

                        <h2 class="m-0 listingInfoHeader">Tips for after the interview</h2>
                        <p>When the interview is over, give yourself the best chances of moving forward by doing the following:</p>

                        <p><b>20. Ask about next steps.</b> After your interview, it is appropriate to ask either your interviewer, hiring manager or recruiter about what you should expect next. This will likely be a follow-up email with results from your interview, additional requirements like an assignment or reference list or another interview.</p>

                        <p><b>21. Send a personalized thank you letter after the interview.</b> Ask for the business card of each person you speak with during the interview process so that you can follow up individually with a separate thank you email. If you interviewed in the morning, send your follow-up emails the same day. If you interviewed in the afternoon, the next morning is fine. Make certain that each email is distinct from the others, using the notes you took during the conversations.</p>
         
            </div>
                                


            <%= render 'layouts/rightsidebar'%>


            </div>
         </div>
      </div>